.DS_Store

# NPM
node_modules/

# Dev
dev/
dev_firefox/
dev_safari/

# Prod
dist/
dist_firefox/
dist_safari/
builds/
changelogs/
assets/
clipper-templates-llm/
src/manifest.safari.json
src/manifest.firefox.json
ONBOARDING.md
METHODOLOGY.md

# Xcode
*.xcuserstate
*.xcuserdatad

.context
.cursorrules
.env
context/
workbench/
